.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 15px;
  position: fixed;
  width: 100%;
  backdrop-filter: blur(50px);
  z-index: 1;
  top: 0;
  border-bottom: 1px solid lightgray;
}

.headerNav{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.redirect{
  list-style-type: none;
  flex-direction: row;
  padding: 0px 45px;
  font-weight: 500;
}

a{
  color: black;
  text-decoration: none;
}

.redirect:hover{
  text-decoration: underline;
}

.logoHeader{
  width: 15%;
}

.textoProv{
  text-align: center;
  margin-top: 120px;
}

.itemCounter{
  width: 27.5vw;
}

.masOMenos{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: lightgray;
  border: 1px solid darkslategrey;
}

.sumaYResta{
  width: 100%;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 600;
  background-color: lightgray;
  border: none;
}

.addToCart{
  width: 100%;
  background-color: lightgray;
  border: 1px solid darkslategrey;
}

.inactivo{
  transition: 200ms;
  pointer-events: none;
  cursor: not-allowed;
  opacity: 70%;
}

.activo{
  transition: 200ms;
}

.listadoDeProductos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}

.itemIndividual{
  background-color:white;
  width: 15%;
  padding: 3%;
  margin: 5px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 3%; 
  transition: 200ms;
}

.itemIndividual:hover{
  transition: 200ms;
  box-shadow: 0px 10px 13px -7px #000000;
}

.imagenItem{
  width: 100%;
}

.tituloItem{
  font-size: 2.5vw;
}

.precioItem{
  font-size: 1.5vw;
}


.detailImg{
  width: 50%;
  height: 100%;
}
.detailDisplay{
  display: flex;
  margin-top: 90px;
  margin-bottom: 20px;
  width: 100%
}

.infoProd{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 4%;
}

.precioDetail{
  font-weight: 500;
  font-size: larger;
}

.descripDetail{
  font-size: larger;
}

.talles{
  margin-bottom: 5%;
}

.finalCompra{
  width: 27.5vw;
  height: 50px;
  margin-top: 10px;
  background-color: lightgray;
  border: solid 1px darkslategrey;
}

.imgCarrito{
  width: 25%;
}

.prodCarrito{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin: 15px;
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
}

.vaciarCart{
  margin-top: 110px;
  margin-left: 15px;
  border: none;
  background-color: white;
  color: rgb(94, 94, 94);
}

.vaciarCart:hover{
  text-decoration: underline;
  cursor: pointer;
}

.infoProdCart{
  width: 60%;
  display: flex;
  flex-direction: column;
}

.removeFromCart{
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: medium;
}